<div id="new-physician">
  <%= form_for(@physician) do |f| %>
    <% if @physician.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

        <ul>
        <% @physician.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="new-contact-fields">
    <!-- **********Note that _attributes was added to :contact****** -->
    <h3>Contact Deatils</h3>
      <%= f.fields_for :contact, @physician.contact do |contact_form|%>
        <div class="field">
          <%= contact_form.label "Name:" %>
          <%= contact_form.text_field :name %>
        </div>
        <div class="field">
          <%= contact_form.label "Street:" %>
          <%= contact_form.text_field :street %>
        </div>
        <div class="field">
          <%= contact_form.label "Area:" %>
          <%= contact_form.text_field :local %>
        </div>
        <div class="field">
          <%= contact_form.label "Phone:" %>
          <%= contact_form.text_field :phone %>
        </div>
        <div class="field">
          <%= contact_form.label "Web/URL:" %>
          <%= contact_form.text_field :url %>
        </div>
      <% end %>
</div>
<div id="new-display-fields">
    <h3>Display Fields</h3>
    <div class="field">
      <%= f.label "Type:" %>
      <%= f.text_field :type %>
    </div>
    <div class="field">
      <%= f.label "Category:" %>
      <%= f.text_field :categoryDisplay %>
    </div>
    <div class="field">
      <%= f.label "Treatments:" %>
      <%= f.text_field :treatmentsDisplay %>
    </div>
    <div class="field">
      <%= f.label "Physicians:" %>
      <%= f.text_field :physiciansDisplay %>
    </div>
    <div class="field">
      <%= f.label "Summary:" %>
      <%= f.text_area :summary %>
    </div>

    <h2>Search Fields</h2>
    <div class="field">
      <%= f.label "Name:" %>
      <%= f.text_field :nameSearch %>
    </div>
    <div class="field">
      <%= f.label "Location:"%>
      <%= f.text_field :locationSearch %>
    </div>
    <div class="field">
      <%= f.label "Categories:" %>
      <%= f.text_field :categorySearchDisplay %>
    </div>
</div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
