    <% content_for :head do %>
        
    <% end %>

    <% content_for :title do %>
    	
    <% end %>
    <% content_for :list do %>
      <%= link_to 'List', new_physician_path %>
    <% end %>
    <section id="home-section">
        <div id="home-container">
	        <h1>What are you Looking2 do today?</h1>
	        <div class="container">
                    <!-- Dynamic Tabs -->
                    <ul class="nav nav-pills red">
                        <li class="active"><a data-toggle="tab" href="#home" class="te">Find Help</a></li>
                        <li><a data-toggle="pill" href="#menu1" class="te">Have Fun</a></li>
                        <li><a data-toggle="pill" href="#menu2" class="te">Eat</a></li>
                        <li><a data-toggle="pill" href="#menu3" class="te">Buy Stuff</a></li>
                    </ul>
            <div id="home-menu">
                

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                          <%= link_to 'Physician Search', physicians_path %>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <%= link_to 'Gigs Search', physicians_path %>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                          <%= link_to 'Restaurants Search', physicians_path %>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                          <%= link_to 'Buy Stuff', physicians_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>



<!-- <head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body> -->

<!-- <div class="container">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div> -->