<h1>Danielle &amp John's Super Awesome Moving Sale</h1>
<h2>Great deals!</h2>
<p>Hello friends and family! We are moving out of state in a couple weeks and need to unload some of the things we don't have room to move.</p>
<p>Everything listed is in great condition, unless specified otherwise in the descriptions below.</p>
<p>Give us a call or text if you are interested in anything. We will do our best to update this page as things sell. Thanks for looking!</p>

<p><b>Contact: 724-944-0054 or 724-448-8553</b></p>

<h3>Sectional Couch (with sleeper)</h3>
<p>This couch is older, but in pretty decent condition. We are hoping to sell both at the same time, but will separate if you wish.</p>
<p><b>Price: $300 for both sections</b></p>
<%= image_tag "couch.jpg" %>
<%= image_tag "smallCouch.jpg" %>
<br>

<h3>Washer &amp Dryer</h3>
<p>Both are electric. We purchased them used and have been using them for 2 years, but have had no problems. The one issue is a missing plastic knob on the washer. A smaller piece of the knob is still there, so it is still pretty easy (and safe) to turn. It may be possible to find a replacement knob, but we have been using it like this for 2 years.</p>
<p><b>Price: $350 for both (or $200 each)</b></p>
<%= image_tag "washer.jpg" %>
<%= image_tag "dryer.jpg" %>
<br>

<h3>Kitchen Table With Chairs</h3>
<p>High top table made out of hard wood with 4 matching chairs. It has a few small nics and scratches, but otherwise in solid condition. If we had room for it, we would definitely take it.</p>
<p><b>Price: $100</b></p>
<%= image_tag "kitchenTable.jpg" %>

<h3>Baker's Rack</h3>
<p><b>Price: $45</b></p>
<%= image_tag "bakingRack.jpg" %>

<h3>Big Bedroom Dresser With Mirror</h3>
<p>Some small scratches, but in good condition.</p>
<p><b>Price: $125</b></p>
<%= image_tag "dresserDanielle.jpg" %>

<h3>Night Stand</h3>
<p><b>Price: $35</b></p>
<%= image_tag "nightStand.jpg" %>

<h3>Coffee Table</h3>
<p><b>Price: $35</b></p>
<%= image_tag "coffeeTable.jpg" %>

<h3>Recliner</h3>
<p>3 years old. Small tear in the left arm rest, but otherwise in good shape.</p>
<p><b>Price: $150</b></p>
<%= image_tag "chairFront.jpg" %>

<h3>Folding Chairs</h3>
<p><b>Price: $15 for both</b></p>
<%= image_tag "chairs.jpg" %>

<h3>Car Stuff</h3>
<p><b>Note - Jackstands in photo are already sold</b></p>
<p>2 Rhyno ramps and 2 1/2 ton floor jack. Jack has been used once or twice and is like new.</p>
<p><b>Ramps: $25</b></p>
<p><b>Floor Jack: $110</b></p>
<%= image_tag "carStuff.jpg" %>

<h3>Cross bars for Subaru roof rack</h3>
<p>Should fit any recent Subaru Impreza or XV Crosstrek models.</p>
<p><b>Price: $70</b></p>
<%= image_tag "crossbars.jpg" %>

<h3>Motorcycle Helmet</h3>
<p>This was worn for 1 summer. Includes clear visor and tinted visor. Size XL</p>
<p><b>Price: $30</b></p>
<%= image_tag "helmet.jpg" %>

<h3>Skateboards</h3>
<p>Sector 9 long board, Plan B skateboard with independent Koston trucks</p>
<p><b>Price: $50 each</b></p>
<%= image_tag "skateboards.jpg" %>

<h3>Snowboard</h3>
<p>Old Burton Canyon (wide version of Custom) with mission bindings. It's been used a lot, but still in decent shape</p>
<p><b>Price: $75 each</b></p>
<%= image_tag "snowboardFront.jpg" %>
<%= image_tag "snowboardBack.jpg" %>

<h3>Sound Equipment</h3>
<p>All of the following items were purchased new last November and barely used. Everything is in the original box and in excellent, like new condition.</p>
<ul>
<li>Yamaha MG12XU - 12 Channel analog mixer with effects</li>
<li>2 Alto TX12 - 12 inch, 2-way powered loudspeakers, 300W continuous/600W peak</li>
<li>2 XLR cables, 25 ft</li>
<li>Aux audio cable (This can be used to plug phone or other music device into the mixer)</li>
</ul>
<p><b>Price: $550 for everything</b></p>
<%= image_tag "soundStuff.jpg" %>

