<h1>Danielle &amp John's Super Awesome Moving Sale</h1>
<h2>Great deals!</h2>
<p>Hello friends and family! We are moving out of state in a couple weeks and need to unload some of the things we don't have room to move.</p>
<p>Everything listed is in great condition, unless specified otherwise in the descriptions below.</p>
<p>Give us a call or text if you are interested in anything. We will do our best to update this page as things sell. Thanks for looking!</p>

<p><b>Contact: </b> 724-944-0054 or 724-448-8553</p>

<h3>Sectional Couch (with sleeper)</h3>
<p>This couch is older, but in pretty decent condition. Shown below is the larger section. The smaller section contains the fold-out bed. If you're interested we will send you a picture of the other section. We are hoping to sell both at the same time, but will separate if you wish.</p>
<p><b>Price: $500 for both (or $250 each)</b></p>
<%= image_tag "couch.jpg" %>
<br>

<h3>Washer &amp Dryer</h3>
<p>Both are electric. We purchased them used and have been using them for 2 years, but have had no problems. The one issue is a missing plastic knob on the washer. A smaller piece of the knob is still there, so it is still pretty easy (and safe) to turn. It may be possible to find a replacement knob, but we have been using it like this for 2 years.</p>
<p><b>Price: $350 for both (or $200 each)</b></p>
<%= image_tag "washer.jpg" %>
<%= image_tag "dryer.jpg" %>
<br>

<h3>Kitchen Table With Chairs</h3>
<p>High top table made out of hard wood with 4 matching chairs. It has a few small nics and scratches, but otherwise in solid condition. If we had room for it, we would definitely take it.</p>
<p><b>Price: $100</b></p>
<%= image_tag "kitchenTable.jpg" %>

<h3>Bedroom dressers</h3>
<p>Two matching dressers from Ikea.</p>
<p><b>Price: $225 for both ($125 each)</b></p>
<%= image_tag "shortDresser.jpg" %>
<%= image_tag "tallDresser.jpg" %>

<h3>Night Stand</h3>
<p><b>Price: $35</b></p>
<%= image_tag "nightStand.jpg" %>

<h3>Coffee Table</h3>
<p><b>Price: $35</b></p>
<%= image_tag "coffeeTable.jpg" %>

<h3>Car Stuff</h3>
<p><b>Note - Jackstands in photo are already sold</b></p>
<p>2 Rhyno ramps and 2 1/2 ton floor jack. Jack has been used once or twice and is like new.</p>
<p><b>Ramps: $25</b></p>
<p><b>Floor Jack: $110</b></p>
<%= image_tag "carStuff.jpg" %>

<h3>Skateboards</h3>
<p>Sector 9 long board, Plan B skateboard with independent Koston trucks</p>
<p><b>Price: $50 each</b></p>
<%= image_tag "skateboards.jpg" %>
