<!DOCTYPE html>
<html>
<head>
  <title>Looking2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="nav-menu">
        <ul id="nav-items">
            <li id="logo-item"><%= link_to 'Looking2', home_index_path %></li>
            <li id="span-item"><span><%= yield :title %></span></li>
            <li class="menu-right"><a href="#">List</a></li>
            <li class="menu-right"><a href="#">Search</a></li>
        </ul>
    </nav>
    <div id="content-container">
		<%= yield %>
	</div>
	<!-- <aside>
		<h3>This is the aside</h3>
	</aside>
	<footer>
		<h2>This is a test of the footer</h2>
	</footer> -->
</body>
</html>
